<div class='page-container'>
<div class='center-container'>
    <div class='home-container' #homeContainer>
      <h1 class='page-title'>
        {{ this.translate.PAGES.HOME.TITLE | translate }}
      </h1>

      <a id='detail-page-link' routerLink='/detail'>
        {{ this.translate.PAGES.HOME.DETAILS_LINK | translate }}
      </a><br>

      <p>{{ this.translate.PAGES.HOME.DESCRIPTION | translate }}</p>

      <form [formGroup]='form' (ngSubmit)='onSubmit()'>
        <div class='form-group'>
          <mat-form-field class='stock-form-field' >
            <mat-label>{{ this.translate.PAGES.HOME.INPUT_TEXT | translate }}</mat-label>
            <input matInput required type='text' formControlName='stockSymbol' id='stock-symbol'
                   placeholder='{{ this.translate.PAGES.HOME.INPUT_PLACEHOLDER | translate }}'
                   [(ngModel)]='value' [ngClass]="{ 'is-invalid': submitted && f.stockSymbol.errors }">
            <button mat-button *ngIf='value' matSuffix mat-icon-button aria-label='Clear' (click)="value=''">
              <mat-icon>close</mat-icon>
            </button>
            <input [style.display]="'none'" type="submit">
          </mat-form-field>

          <div *ngIf='submitted && f.stockSymbol.errors' class='error-container'>
            <strong  class='input-error-msg'>
              {{ this.translate.PAGES.HOME.ERROR_MSG | translate }}
            </strong>
          </div>

          <div class='btn-container'>
            <button mat-raised-button color='primary' class='submit-btn form-btn' type='submit'>
              {{ this.translate.PAGES.HOME.SUBMIT_BUTTON | translate }}
            </button>
            <button mat-raised-button color='warn' class='reset-btn form-btn' type='reset' (click)='onReset()'>
              {{ this.translate.PAGES.HOME.RESET_BUTTON | translate }}
            </button>
          </div>
        </div>
      </form>

<!--      <div *ngIf='renderData' class='stock-data-container'>-->
<!--        <p *ngFor="let d of data | keyvalue">-->
<!--          {{d.key}} | {{d.value}}-->
<!--        </p>-->
<!--      </div>-->


      <div *ngIf='renderData' class='stock-data-container' scrollTo>
        <div>
          <div id='name-price'>
            <h2 id='stock-name'>{{ data.name}}</h2>
            <p id='current-price' [ngClass]='dayChangeColor'>{{ data.currentPrice }}</p>
            <div class='flex-container' id='price-container' [ngClass]='dayChangeColor'>
              <p id='day-change-dollar'>{{ data.dayChangeDollar }} ($)</p>
              <p id='day-change-percent'>{{ data.dayChangePercent.slice(0, -1) }} (%)</p>
            </div>
          </div>

          <div class='flex-container' id='day-prices'>
            <div id='open-price' class='price-text'>
              <p class='data-heading'>Open:</p>
              <p>{{ data.openPrice }}</p>
            </div>
            <div id='day-low-price' class='price-text'>
              <p class='data-heading'>Day Low:</p>
              <p>{{ data.dayRange.split('-')[0].trim() }}</p>
            </div>
            <div id='day-high-price' class='price-text'>
              <p class='data-heading'>Day High:</p>
              <p>{{ data.dayRange.split('-')[1].trim() }}</p>
            </div>
            <div id='prev-close-price' class='price-text'>
              <p class='data-heading'>Prev Close:</p>
              <p>{{ data.previousClosePrice }}</p>
            </div>
          </div>

          <div class='flex-container' id='year-prices'>
            <div id='year-low-price' class='price-text'>
              <p class='data-heading'>1 Year Low:</p>
              <p>{{ data.yearRange.split('-')[0].trim() }}</p>
            </div>
            <div id='year-high-price' class='price-text'>
              <p class='data-heading'>1 Year High:</p>
              <p>{{ data.yearRange.split('-')[1].trim() }}</p>
            </div>
            <div id='year-target-price' class='price-text'>
              <p class='data-heading'>1 Year Target:</p>
              <p>{{ data.oneYearTarget }}</p>
            </div>
          </div>

          <div class='flex-container' id='analysis'>
            <div id='current-value' class='price-text'>
              <p class='data-heading'>Current Value:</p>
              <p [ngClass]='valueColor'>{{ data.fairValue}}</p>
            </div>
            <div id='current-trend' class='price-text'>
              <p class='data-heading'>Current Trend:</p>
              <p [ngClass]='trendColor'>{{ data.chartEventValue }}</p>
            </div>
          </div>

          <div style='height: 48px'></div>
        </div>
        <div class='trading-view-widgets'>
          <div style='height: 24px'></div>
          <trading-view-graph [stockSymbol]='value' [widgetWidth]='homeContainer.offsetWidth'></trading-view-graph>
          <div style='height: 24px'></div>
          <trading-view-analysis [stockSymbol]='value'></trading-view-analysis>
          <div style='height: 24px'></div>
          <trading-view-fundamental-data [stockSymbol]='value'></trading-view-fundamental-data>
          <div style='height: 24px'></div>
          <trading-view-company-profile [stockSymbol]='value' [widgetWidth]='homeContainer.offsetWidth'></trading-view-company-profile>
        </div>

      </div>

      <div style='height: 48px'></div>
    </div>
  </div>
</div>
