
.page-container {
  height: 100%;
}

.center-container {
  background: #2C1252;
  min-height: 100%;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.home-container {
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 24px;
  min-height: 100vh;
  box-shadow: -60px 0px 100px -90px white, 60px 0px 100px -90px white;
  background: #ECEFF8;

  @media (max-width: 1024px) {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  @media (max-width: 767px) {
    margin-left: 8.5%;
    margin-right: 8.5%;
  }

  .page-title {
    margin: 0;
    padding-top: 24px;
    color: #2C1252;
  }

  .form-group {
    margin-bottom: 32px;

    .stock-form-field {
      width: 200px;
    }

    .error-container {
      color: red;
      height: 36px;

      .input-error-msg {
        margin: 0;
      }
    }

    .btn-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      @media (max-width: 767px) {
        flex-flow: column wrap;
      }

      .form-btn {
        margin: 12px;

        @media (min-width: 767px) {
          width: 120px;
        }
      }
    }
  }

  .stock-data-container {
    .green {
      color: green;
    }

    .red {
      color: red;
    }

    #stock-name {
      font-size: 24pt;

    }

    #current-price {
      font-size: 18pt;
    }

    #price-container {
      margin-top: -32px;
    }

    .data-heading {
      margin-right: 8px;
      font-weight: bolder;
    }

    .price-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 100px;
      text-align: left;
      //align-items: flex-start;
      align-items: center;


      p {
        margin-top: 0;
      }

      @media (min-width: 768px) {
        width: 120px;
      }

      @media (max-width: 767px) {
        flex-direction: row;
      }
    }

    #name-price {
      box-shadow: 0 -2px 11px rgb(0 0 0 / 25%), 0 5px 8px rgb(0 0 0 / 22%);
      padding-top: 8px;
      padding-bottom: 16px;
      padding-left: 8px;
      padding-right: 8px;
    }

    #prev-close-price {
      //margin-right: 18px;
    }

    #day-prices, #year-prices, #analysis{
      margin-top: 48px;
      box-shadow: 0 -2px 11px rgb(0 0 0 / 25%), 0 5px 8px rgb(0 0 0 / 22%);
      padding-top: 32px;
      padding-bottom: 16px;
      justify-content: space-evenly;
    ;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .flex-container {
      display: flex;
      justify-content: center;
      p {
        font-size: 12pt;
      }

      #day-change-dollar {
        margin-right: 12px;
      }

      #open-price, #day-low-price, #day-high-price,
      #year-high-price, #year-low-price, #year-target-price,
      #current-value, #current-trend{
        margin-right: 0;

        @media (max-width: 767px) {
          margin-right: 0;
        }
      }
    }
  }
}

.trading-view-widgets {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .trading-view-widget {
    margin-bottom: 24px;
    margin-top: 24px;
  }
}
